* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a,
  li {
    text-decoration: none;
    list-style: none;
    color: #fff;
  }
  
  .navbar {
      display: flex;
      justify-content: space-around;
      padding: 30px;
      background-color: rgb(222, 167, 247);
      align-content: center;
  }
  
  .navbar-ul {
    display: flex;
  }
  
  .navbar-ul li {
    margin-left: 40px;
  }
  
  .imagen-logo {
    height: 40px;
    width: 100px;
  }
  
  .imagen-logo img {
    width: 100%;
    height: auto;
  }
  
  .imagen-carrito {
    height: 40px;
    width: 40px;
  }
  
  .imagen-carrito img {
    width: 100%;
    height: auto;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-items: center;
  }
  
  .card {
    margin: 1rem;
    padding: 1rem;
    width: 16rem;
    height: 20rem;
    border: #000 solid;
    justify-self: center;
  }
  
  .card-img {
    background-image: url(assets/producto.png);
    height: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .card h3 {
    margin-top: 20px;
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 2px 4px 10px #000;
    cursor: pointer;
  }
  
  @media (max-width: 820px) {
    .container {
      grid-template-columns: repeat(3, 250px);
    }
  
    .card {
      width: 220px;
      height: 300px;
    }
    .hidden {
      display: none;
    }
  }
  
  @media (max-width: 390px) {
    .container {
      grid-template-columns: repeat(2, 195px);
    }
  
    .card {
      width: 170px;
      height: 195px;
    }
    .hidden {
      display: none;
    }
  }
  
  footer {
    padding: 30px;
    background-color: rgb(222, 167, 247);
    color: #fff;
    text-align: center;
  }