* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #202020;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hr {
  width: 90vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.logo {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.contenedor-subir {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 3.6rem;
  height: 2.6rem;
  z-index: -1;
}

.boton-subir {
  width: 0rem;
  height: 0rem;
  background: #bebebe;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.icono-subir {
  position: absolute;
  font-size: 1.7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s;
}

.mostrar-contenedor {
  z-index: 10;
}

.mostrar-contenedor .boton-subir {
  animation: popup 0.3 ease-in-out;
  width: 4.4rem;
  height: 4.4rem;
  z-index: 11;
}

.mostrar-contenedor .icono-subir {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6.6rem;
    height: 6.6rem;
  }
}
.contenedor-form {
  width: 50vw;
  margin: auto;
  margin-bottom: 7rem;
}

.contenido-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido-contenedor .caja {
  padding: 4rem;
  border: 1px solid;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px 7px 12px 0 rgba(20, 20, 20, 0.3);
}

.contenido-form {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.contenido-form h3 {
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-size: 20px;
}
.contenido-form .input-login {
  width: 25vw;
  padding: 0.6rem;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  box-shadow: 2px 2px 8px 0 rgba(20, 20, 20, 0.2);
}
.contenido-form button {
  margin-top: 1.8rem;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contenido-form button:hover {
  box-shadow: 1px 2px 4px 0 rgba(20, 20, 20, 0.3);
}
.contenido-form .contenedor-redes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filter-container {
  margin: 2rem auto 0 auto !important;
  width: 66.6vw !important;
}

.contenido-filtrar {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtrar {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-busqueda {
  display: flex;
  justify-content: center;
}

.render-container {
  width: 70% !important;
  margin: auto !important;
  margin-bottom: 5rem !important;
}

.contenedor-detalles {
  width: 80vw;
  margin: auto;
  margin-top: 2.3rem;
}

.contenido-detalles {
  display: flex;
  justify-content: space-around;
}

.productImage {
  height: 350px;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px 0 rgba(20, 20, 20, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-table {
  width: 100%;
  text-align: center;
}

.tr {
  box-shadow: 2px 2px 8px 0 rgba(20, 20, 20, 0.2);
}

.details-cart {
  display: flex;
  justify-content: flex-end;
}

.cant-products {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 1rem;
  margin-right: 1rem;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.553);
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.textarea {
  height: 10vh;
  resize: none;
}

/*# sourceMappingURL=main.css.map */
